@model Asignatura

@{
    ViewData["Title"] = "Información Asignatura";
    Layout = "_Layout";
}


<h1>ViewData["Title"]</h1>

<strong>Desde la vista normal</strong>

<p>Nombre: @Model.Nombre <br/>
   ID: @Model.ID
</p>

<strong>Desde la vista parcial</strong>


<partial name= "ObjetoEscuelaSimple"/>










