@*
@model List<ObjetoEscuelaBase>
*@


<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th  scope ="col">Nombre</th>
            <th  scope ="col">ID</th>
        </tr>
        <tbody>
            @foreach (var obj in Model)
            {
               <tr>
                   <td>@obj.Nombre</td>
                   <td>@obj.ID</td>
               </tr>
            }
        </tbody>
    </thead>
</table>